<div class="container-fuild room-posts">
<h4 class="pb-4">予約済ルーム一覧</h4>
 
    <table>
      <thead>
        <tr align="center">
          <th>ルーム画像</th>
          <th>ルーム名</th>
          <th>ルーム紹介</th>
          <th>合計金額</th>
          <th>開始日</th>
          <th>終了日</th>
          <th>予約確定日時</th>
        </tr>
      </thead>
 
      <tbody>
        <% @reservations.each do |reservation| %>
        <% @rooms = Room.where(id: reservation.room_id) %>
        <% @rooms.each do |room| %>
         <tr>
            <td><%= image_tag room.image.variant(resize:'200x200') %></td>
            <td><%= room.room_name %></td>
            <td><%= room.room_introduction %></td>
          <% end %>
            <td><%= reservation.total_price %></td>
            <td><%= reservation.start_date %></td>
            <td><%= reservation.end_date %></td>
            <td><%= reservation.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>